.vscode/
build/
dist/
wildcards/
Release-Builds/
.backup/
AutoUpdate.py
updater_manifest_example.json
midjourney_automation.exe
midjourney_automation.spec
MJ-Control_v0.2-pre1.zip
MJ-Control v0.2-pre1.exe
updater_manifest.json
MidJourney 2-Script System.code-workspace
